spring:

  security:
    user:
      name: user
      password: 1234

  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  datasource:
    url: jdbc:mysql://localhost:3306/shoppingmall?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=utf8
    username: root
    password: 1234

mybatis:
  mapper-locations: classpath*:mapper/**/*.xml
  type-aliases-package: com.example.shoppingmall.domain
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

server:
  port: 8080
  servlet:
    session:
      tracking-modes: cookie

logging:
  level:
    org.apache.ibatis: DEBUG
    com.example.shoppingmall: debug
    org.mybatis: debug

jwt:
  secret: "ZkllTx2dd9yjGVPvoRzLzxJsa2NdFtHigZuMnXe7UF2yaJaTaa5J7t9UcaXff1+ngldQIjksBK62TYpomauG5A=="
  access-exp: 900000  #15분 (ms)
  refresh-exp: 1209600000   #14일 (ms)

