<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<h1>회원가입</h1>

<form th:action="@{/signup}" method="post">
    <label>이메일</label>
    <input type="email" name="email" required><br><br>

    <label>비밀번호</label>
    <input type="password" name="password" required minlength="4" maxlength="64"><br><br>

    <label>닉네임</label><br>
    <input type="text" name="nickname" required maxlength="50"><br><br>

    <button type="submit">가입하기</button>
</form>

<p>이미 계정이 있으신가요? <a th:href="@{/login}">로그인</a></p>
</body>
</html>